# DO NOT SHARE KEYS ON GITHUB
# ** NOTE : THIS FILE IS SENSITIVE AND SHOULD NOT BE PUBLISHED ON GITHUB/ ANY PUBLIC WEBSITES **
# Use this template to add new keys
blobs:
  weedsimagerepo:
    url: ""
    sas_token: ""

tables:
  wirimagerefs:
    url: ""
    sas_token: ""

  wircovercropsmeta:
    url: ""
    sas_token: ""

  wircropsmeta:
      url: ""
      sas_token: ""
  
  wirlogs:
      url: ""
      sas_token: ""